<!DOCTYPE html>
<html lang="en">



<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bank Development Oman</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Bank Development Oman</a>
        </div>
        <!-- Top Menu Items -->

        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->

        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" style="padding-top: 20px">FORM 3</h1>
                    <a href="/forms" style="text-align:center;color: blue">Close</a>

                </div>
            </div>
            <!-- /.row -->
            <h1>تقرير المتابعة الدورية لمشروع</h1>
            <div class="row">
                <div class="col-lg-6">

                    <form role="form">

                        <div class="form-group">
                            <label>تاريخ</label>
                            <input class="form-control" placeholder="Auto Date ">

                        </div>

                        <div class="form-group">
                            <label>رقم القرض</label>
                            <input class="form-control" placeholder="loan no">
                        </div>

                        <div class="form-group">
                            <label>مبلغ القرض</label>
                            <input class="form-control" placeholder="cost of loan">
                        </div>
                        <div class="form-group">
                            <label>غرض المشروع</label>
                            <input class="form-control" placeholder="purpose of project">
                        </div>
                        <div class="form-group">
                            <label>الشخص المتقابل معه</label>
                            <input class="form-control" placeholder="The opposite person">
                        </div>
                        <div class="form-group">
                            <label>رقم الهاتف</label>
                            <input class="form-control" placeholder="contact no">
                        </div>
                        <div class="form-group">
                            <label>صفته</label>
                            <input class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label>الوضع المالي للمشروع</label>
                            <input class="form-control" placeholder="about laon">
                        </div>
                        <div class="form-group">
                            <label>البنود الممولة</label>
                            <input class="form-control" placeholder="point of laon">
                        </div>
                        <div class="form-group">
                            <label>الالات و معدات</label>
                            <input class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label>ولاية</label>
                                <select class="form-control">
                                    <option>شناص</option>
                                    <option>صحار</option>
                                    <option>لوى</option>

                                </select>

                                <div class="form-group">
                                    <label>وضع أصول المشروع</label>
                                    <textarea class="form-control" rows="3" placeholder=""></textarea>
                                </div>
                                <div class="form-group">
                                    <label>المشاكل و المعوقات التي تواجة المشروع (ان وجدت)</label>
                                    <textarea class="form-control" rows="3" placeholder=""></textarea>
                                </div>
                                <div class="form-group">
                                    <label>االاجراءات القانونية (ان وجدت)</label>
                                    <textarea class="form-control" rows="3" placeholder=""></textarea>
                                </div>
                                <div class="form-group">
                                    <label>املاحظات الموظف القائم بالزيارة</label>
                                    <textarea class="form-control" rows="3" placeholder=""></textarea>
                                </div>

                                <div class="form-group">
                                    <label>توصية الموظف القائم بالزيارة</label>
                                    <textarea class="form-control" rows="3" placeholder=""></textarea>
                                </div>

                                <div class="form-group">
                                    <label>مراجعة / ضابط عملاء (المكتب الاقليمي)</label>
                                    <textarea class="form-control" rows="3" placeholder=""></textarea>
                                </div>


                                <button type="submit" class="btn btn-default">Submit Button</button>
                                <button type="reset" class="btn btn-default">Reset Button</button>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6">


            <form role="form">
                <div class="col-lg-11">
                    <h2>جدول التكلفة و التمويل (حسب الدراسة)</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>البند</th>
                                <th>التكفة المفترحة بالريال العماني </th>
                                <th>قرض البنك بالريال عماني</th>
                                <th>نسبة </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>المباني</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <input type="file">
                                </td>
                            </tr>
                            <tr>
                                <td>المكائن والالات و المعدات</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <input type="file">
                                </td>
                            </tr>
                            <tr>
                                <td>مخصص الطوارئ</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <input type="file">
                                </td>
                            </tr>
                            <tr>
                                <td>مصاريف ما قبل التشغبل </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <input type="file">
                                </td>
                            </tr>
                            <tr>
                                <td>راس مال العمل</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <input type="file">
                                </td>
                            </tr>
                            <tr>
                                <td>الاجمالي</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <input type="file">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="form-group">
                            <label>حالة المشروع</label>
                            <textarea class="form-control" rows="3" placeholder="Employee comment"></textarea>
                        </div>
                        <div class="form-group">
                            <label>الطاقة الانتاجية للمشروع</label>
                            <textarea class="form-control" rows="3" placeholder="Employee comment"></textarea>
                        </div>
                        <div class="form-group">
                            <label>توصية القائم بالمعاينة</label>
                            <textarea class="form-control" rows="3" placeholder="Employee comment"></textarea>
                        </div>
                        <div class="form-group">
                            <label>االتوصيات من قبل االموظف</label>
                            <textarea class="form-control" rows="3" placeholder="Employee comment"></textarea>
                        </div>
                        <div class="form-group">
                            <label>التوصيا ت من قبل المدير
                            </label>
                            <textarea class="form-control" rows="3" placeholder="Manager comment"></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>

</html>