<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Oman Development Bank</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body 		{ padding-top:80px; word-wrap:break-word; }

        .formbutton {
            background-color:blue;
            border: none;
            color: white;
            padding: 15px 120px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 10px 2px;
            cursor: pointer;
        }

    </style>
</head>
<body>
<div class="container">

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-2">
                <img src="images/OMAN-DEV-BANK.jpg" style="width: 150px;height: 150px"/>
            </div>
            <div class="col-md-8">
                <h1 style="text-align:center;color: blue;font-size: 50px">REPORT</h1>

            </div>
            <div class="col-md-2">
                <h3><a href="/profile" >User Profile</a></h3>
                <a href="/logout" class="btn btn-default btn-sm" style="text-align:center">Logout</a>
            </div>
        </div>
    </div>

    <!--div class="page-header text-right">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div-->

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">

            <a href="/month" class="formbutton" style="font-size: 30px; color: white">MONTHLY REPORT</a>
            <a href="/rep" class="formbutton" style="font-size: 30px; color: white;padding: 15px 100px">GENERATE A REPORT</a>
            <!--a href="#" class="formbutton" style="font-size: 30px; color: white">FORM 3</a>
            <a href="#" class="formbutton" style="font-size: 30px; color: white">FORM 4</a-->



        </div>
    </div>

</div>

</div>
</body>
</html>
